<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDVRlpU9bFrlW7q9vcHVR-vAc2X_oAVf1A</string>
	<key>GCM_SENDER_ID</key>
	<string>718139583629</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>th.ac.mut.FlashChat</string>
	<key>PROJECT_ID</key>
	<string>ioschat-7d317</string>
	<key>STORAGE_BUCKET</key>
	<string>ioschat-7d317.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:718139583629:ios:98fccabc45d2a39766c6c4</string>
</dict>
</plist>